body {
    color: #444;
    font-family: Oxygen, sans-serif;
    font-size: 14px;
    margin: 0px auto;
    max-width: 416px;
}

header {
    font-size: 22px;
    margin: 12px 0px;
}

h1 {
    color: #d7588b;
    font-size: 22px;
    margin: 12px 0px;
}

h2 {
    background-color: #d7588b;
    color: #fff;
    font-size: 14px;
    margin: 4px 0px;
    padding: 2px 4px;
}

input#location {
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    color: #444;
    font-size: 22px;
    outline: none;
    padding: 4px;
    width:100%;
}

input#location:focus {
    border-color: #d7588b;
}

section {
    margin: 8px 0px;
}

span.current-time {
    float: right;
}

div.current-conditions-content {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

div.current-conditions-content p {
    margin: 2px 0px 2px 76px;
}

div.current-weather {
    flex-grow: 1;
    height: 72px;
}

img.current-weather-icon {
    float: left;
    height:72px;
    width: 72px;
}

div.current-conditions-content p.current-temp {
    font-weight: bold;
    font-size: 28px;
}

ul#daily-forecast {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    display: flex;
    margin: 4px 0px 0px 0px;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.grabbing, .grabbing ul#daily-forecast {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

li.daily-forecast-card {
    background-color: #f5f5f5;
    display: block;
    list-style-type: none;
    padding: 2px 0px;
    max-width: 80px;
    min-width: 80px;
}

li+li.daily-forecast-card {
    margin-left: 4px;
}

ul#daily-forecast p {
    margin: 4px;
}

p.daily-day {
    font-weight: bold;
}

img.daily-weather-icon {
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
}

p {
    margin: 4px;
}

p.daily-date {
    font-size: 12px;
}

p.daily-temp {
    font-size: 16px;
}

table.current-details {
    border-collapse: collapse;
    float: right;
    line-height: 18px;
    width: 120px;
}

table.current-details th,
table.current-details td {
    height: 18px;
    padding:0px;
}

table.current-details th {
    font-weight: normal;
    text-align: left;
}

table.current-details td {
    text-align: right;
}